<body style="background:#80BFFF">
<h1 style=color:white>Editing Book</h1>
<h1 style="color:#80BFFF">.</h1>
<h2 style="color:white"><%= render 'form' %></h2>
<h1 style="color:#80BFFF">.</h1>
<h2><%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %></h2>
